{% extends "base.html" %}
{% block content %}
        <section>
            <img src="/static/Kitsune-ken.jpeg" width="375">
        </section>
        <article>
            <p><span class="rps">Rock / Paper / Scissors</span> is a hand game usually played between two people.</p>
            <p>The game would date back to the time of the Chinese Han dynasty (206 BCE – 220 CE).<br>
            It was imported to Japan and became very popular. It only spread beyond East Asia in the 2o<sup>th</sup>Century.</p>
        </article>
        <div class="gameplay">
            <h1>gameplay</h1>
        </div>
        <article>
            <p>The players may count aloud to three, either raising one hand in a fist and swinging it down with each syllable or holding it behind their back</p>
            <p><a href="/rock-paper-scissors/play/">Play</a></p>
        </article>
{% endblock %}